@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* Include the custom Oliver font */
@font-face {
    font-family: 'Oliver';
    src: url('../static/fonts/Oliver.ttf') format('truetype');
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    margin: 20px;
    background-color: #e4e4e4d8;
}

h1, h2 {
    text-align: center;
}
#note-form {
    text-align: center;
    margin-bottom: 20px;
}

#note-form, ::placeholder{
    color: #ddd;
}
#note {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-family: 'DM Sans', sans-serif;  
    font-size: 34px;
    color: rgb(58, 58, 58);
    outline: none;
}

button {
    display: none;
    padding: 20px 20px;
    background-color: #d81cbc;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

#result {
    position: absolute;
    top: 60px;
    right:  150px; /* Adjust based on input width and padding */
    transform: translateY(-50%);
    /* background-color: #3964ff; */
    padding: 10px;
    border-radius: 25px;
    color: #6dc0d5;
    font-weight: 400;
   font-size: 18px;
    transition: opacity 0.5s ease-in-out; /* Animation for fade-in and fade-out */
}

#calendar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.day {
    flex: 1;
    border: 1px solid #dddddd1f;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: #3e4e6b70;
    border-radius: 15px;
    margin-right: 8px;
    color: #f1f1f1;
    height: 22vh;
}
.day h3 {
    margin: 0;
    padding: 0;
}
.box {
    margin-top: 10px;
    height: 15vh;
    border: 0px dashed #ddd;
    border-radius: 10px;
    position: relative;
        background-color: #cad3e152;
}
.appointment {
    background-color: rgb(255, 0, 81);
    border-radius: 5px;
    color: #ffecff;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    width: calc(100% - 10px);
    font-weight: bold;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.reminder {
    background-color: rgb(0, 81, 255);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #b6d4ef;
    padding: 10px;
  
    position: relative;
    width: calc(100% - 50px);
    font-weight: bold;
    align-items: center;
    font-size: 16px;
}
.reminder.completed {
    text-decoration: line-through;
    color: #ffffff;
    background-color: #b4b4b4;
}
#reminders {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.reminder-column {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
 height: 220px;
    border-radius: 15px;
    margin-right: 20px;
    background-color: #ffffff9e;
}

#reminder-label {
    position: relative;

    bottom: 10px;
    left: 10px;
    font-size: 48px;
    color: rgb(255, 0, 0);
    opacity: 0.7;
    font-weight: bolder;
}
#postit-area {
    position: fixed;
    bottom: 15px;
    left: 20px;
    right: 20px;
    height: 33vh;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    overflow: auto;
    border-radius: 15px;
       background-image: radial-gradient(circle, #939393 1px, transparent 1px);
    background-size: 15px 15px;
}
#postit-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 58px;
    font-weight: bold;
    text-shadow: #101010;
    color: rgb(255, 230, 0);
    opacity: 0.8;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.postit {
    width: 75px; /* Half the original width */
    height: 75px; /* Half the original height */
    padding: 10px;
    position: absolute; /* Allow free positioning within the container */
    border: 1px solid #0000001c;
    border-radius: 15px;
    cursor: move;
    overflow: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow to post-its */
    font-size: 26px;
}
.postit .delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    padding: 4px;
}
.postit .resize-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.postit.pink {
    background-color: pink;
}
.postit.green {
    background-color: #ABD699;
}
.postit.yellow {
    background-color: #F9E29A;
}
.today {
    background-color: #75C987;
}
.today h3 {
    color: red;
}


#formatting-bar {
    margin-bottom: 10px;
    text-align: center;
}
#formatting-bar select,
#formatting-bar button,
#formatting-bar input[type=range] {
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
}
#bold-button, #italic-button {
    cursor: pointer;
}
#color-selectors,
#background-color-selectors {
    display: inline-block;
}
.color-selector {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #eaeaea;
}

#background-color-selectors {
    position: absolute;
    top: 20px;
    left: 20px;
}

.postit-formatting-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ABD699; /* Default background color */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}