<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <form id="note-form">
        <input type="text" id="note" name="note" placeholder="Inserisci il tuo appunto:" />
        <button type="submit">Classifica e Aggiungi Nota</button>
    </form>
    <div id="result"></div>
    <div id="calendar">
        <div class="day" id="day0"><h3></h3><div class="box"></div></div>
        <div class="day" id="day1"><h3></h3><div class="box"></div></div>
        <div class="day" id="day2"><h3></h3><div class="box"></div></div>
        <div class="day" id="day3"><h3></h3><div class="box"></div></div>
        <div class="day" id="day4"><h3></h3><div class="box"></div></div>
        <div class="day" id="day5"><h3></h3><div class="box"></div></div>
        <div class="day" id="day6"><h3></h3><div class="box"></div></div>
    </div>
    <div id="reminders">
        
        <div class="reminder-column" id="reminder-column-1"><h2>Promemoria</h2></div>
        <div class="reminder-column" id="reminder-column-2"></div>
        <div class="reminder-column" id="reminder-column-3"></div>
        <div class="reminder-column" id="reminder-column-4"></div>
    </div>
    
    <!-- Background Color Selectors -->
    <div id="background-color-selectors">

        <div class="color-selector" data-color="#ABD699" style="background-color: #ABD699;"></div>
        <div class="color-selector" data-color="#F7E26A" style="background-color: #F7E26A;"></div>
        <div class="color-selector" data-color="#75C987" style="background-color: #75C987;"></div>
        <div class="color-selector" data-color="#C7DDCC" style="background-color: #C7DDCC;"></div>
        <div class="color-selector" data-color="#16123F" style="background-color: #16123F;"></div>
    </div>
    
    <div id="postit-area">
        <!-- Formatting Bar Inside Post-It Area -->
        <div id="formatting-bar" class="postit-formatting-bar">
          
            <select id="font-select">
                <option value="DM Sans">DM Sans</option>
                <option value="Arial">Arial</option>
                <option value="Courier New">Courier New</option>
                <option value="Georgia">Georgia</option>
            </select>
            <button id="bold-button"><b>B</b></button>
            <button id="italic-button"><i>I</i></button>
            <label for="font-size-slider">Dimensione font:</label>
            <input type="range" id="font-size-slider" min="10" max="30" value="14">
      
            <div id="postit-color-selectors" class="color-selectors">
                <div class="color-selector" data-color="#ABD699" style="background-color: #ABD699;"></div>
                <div class="color-selector" data-color="#F7E26A" style="background-color: #F7E26A;"></div>
                <div class="color-selector" data-color="#75C987" style="background-color: #75C987;"></div>
                <div class="color-selector" data-color="#C7DDCC" style="background-color: #C7DDCC;"></div>
            </div>
        </div>
        <div id="postit-label">post-it</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
